# React Frontend

# dependencies
synergy-ui/node_modules/

# certs and secrets
synergy-ui/certs/

# environment file
synergy-ui/.env.development

# spring boot backend ----------

# build output
target/


# WebRTC Signaling Server ----------

# dependencies
synergy-signaling/node_modules/

# certs and secrets
synergy-signaling/certs/

# environment file
synergy-signaling/.env.development

# root
properties.txt